<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>School-X | Blogs</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<style type="text/css">
	.Section_main{
		
		height: 50%;
		width: 100%;
		position: relative;
		top: 20%;
		background-color: white;
		margin-top: 10%;

	}
	body{
		background-color: #f1f1f1;
	}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:white;">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="# "
          style="color:white">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white;">
            Dropdown
          </a>
      
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="type" style="text-align:center;font-size: 3rem;font-family: 'Bebas Neue', cursive;">Welcome to School-x Blogs Section you will get Latest news Here:)</div>
<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>
<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>

<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>

<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>

<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>

<div class="Section_main"><div class="para"><h6><h3 style="text-align:center">NCERT curriculum changes</h3>The new NCF for School Education has been initiated. NCERT will be expected to make changes in the textbooks in accordance with the new NCF. Subject experts will initiate this process for school education, and give interim report by December 2020. The new NCF is expected to be ready by March 2021,” the HRD Ministry said in a statement.

The Ministry has directed the National Council of Education Research and Training (NCERT) that while redesigning textbooks, it is to be ensured that nothing but the core content is placed in them. “Also, the cognitive load of the textbooks is too high. Additional areas, such as creative thinking, life skills, Indian ethos, art, and integration, need to be integrated. NCERT will also start working on the layout and design of the new textbooks well in advance, however, the new textbooks shall be written based on the new NCF. “Under Atma Nirbhar Bharat, for PM E-Vidya, NCERT is also expected to prepare content for Class 1 – 12 for SWAYAM PRABHA channels (1 class 1 channel) and start the channels by August this year,” the Ministry said.</h6></div><div class="img_main"><img style="width:100%;height:60vh" src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></div></div>

<h2><%= postDetail.title %></h2>
<p><%= postDetail.description %></p>
<span><%= postDetail.by %></span></br>
<span><%= postDetail.url %></span></br></br>

<div class="comments">
        <% 
        if (typeof comments != 'undefined' && comments != null) {
                comments.forEach( function ( commentData ){
                        %>
                    <p> <%= commentData.comment %> </p>
                        <% });
                    } %>

</div>

<textarea id="comment" rows="3" cols="50"></textarea></br>
<input type="hidden" id="postId" value="<%= postId %>">
<input type="submit" value="Send" id="send"> 
</body>
<script type="text/javascript">
var socket = io();
    $('#send').click(function(){
        var comment = $('#comment').val();
        var postId = $('#postId').val();
        if(comment != ''){
            var data = {'comment': comment,'postId': postId};
        $('.comments').append("<p>"+comment+"</p>");
        $('#comment').val('');
        }
        
    socket.emit('comment',data);
    });
    socket.on('comment',function(data){
        var postId = "<%= postId %>";
        if(postId==data.postId){
            $('.comments').append("<p>"+data.comment+"</p>");
        }
        });
    
</script>
<table border="1">
    <% 
    if (typeof posts != 'undefined' && posts.length > 0) { 
            var srNo = 0;
            posts.forEach( function ( post ){
                    srNo = srNo + 1;
                    %>
<tr>
<td><%= srNo %></td>
<td><%= post.title %></td>
<td><a href="/posts/detail/<%= post._id %>" title="Post Detail">Detail</a></td>
</tr>
<% });
}
else {  %>
<tr><td colspan="3"> No Data </td></tr>
<% } %>

</table>
</body>
</html>